CRICSHEET_DATA_DIR=/Users/manojprabhakarm/Documents/work/personal/cricket-data/all_json
CRICKET_AI_PLAYERS_DATA_DIR=/Users/manojprabhakarm/Documents/work/personal/cricket-data/players-data
CRICKET_AI_STORAGE_DIR=./storage
CRICKET_AI_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
CRICKET_AI_CHROMA_COLLECTION=cricsheet_chunks
CRICKET_AI_OLLAMA_MODEL=llama3.2:3b
CRICKET_AI_OLLAMA_BASE_URL=http://localhost:11434
